@{
    Page.Title = "Bookshelf";
    Layout =  "~/_SiteLayout.cshtml";
}

<div>
    <div class="row">
        <div class="column">
            <a href="~/ZombieRoadIII.cshtml"><img src="~/Images/Zombie Road III.jpg" /></a><br />December 13, 2017<br /><a href="https://www.amazon.com/gp/product/B0789K74PC/ref=series_rw_dp_sw"><img src="~/Images/Amazon.png" /></a>
            <a href="~/UndeadWorlds.cshtml"><img src="~/Images/Undead Worlds.jpg" style="width:311px; height:500px;" /></a><br />September 13, 2017<br /><a href="https://www.amazon.com/Undead-Worlds-Reanimated-Writers-Anthology/dp/1626760403/ref=la_B01MUI11C9_1_5?s=books&ie=UTF8&qid=1518021442&sr=1-5"><img src="~/Images/Amazon.png" /></a>
        </div>
        <div class="column">

            <a href="~/ZombieRoadII.cshtml">
                <img src="~/Images/Zombie Road II.jpg" style="width:311px; height:500px;" /></a><br />June 4, 2017<br /><a href="https://www.amazon.com/gp/product/B071JL7Y22/ref=series_rw_dp_sw"><img src="~/Images/Amazon.png" /></a>

                <a href="~/TreasuredChests.cshtml"><img src="~/Images/Treasured Chests.jpg" style="width:311px; height:500px;" /></a><br />September 23, 2017<br /><a href="https://www.amazon.com/Treasured-Chests-Anthology-Marc-Moore/dp/1976455502/ref=la_B01MUI11C9_1_6?s=books&ie=UTF8&qid=1518021442&sr=1-6"><img src="~/Images/Amazon.png" /></a>
</div>
        <div class="column">
            <a href="~/ZombieRoadI.cshtml"><img src="~/Images/Zombie Road I.jpg" /></a><br />February 2, 2017<br /><a href="https://www.amazon.com/Zombie-Road-Carnage-David-Simpson-ebook/dp/B01N7ZHNEL"><img src="~/Images/Amazon.png" /></a>
</div>
        <div class="column">
            <a href="~/TalesFromTheZombieRoad.cshtml"><img src="~/Images/Tales from the zombie road.jpg" style="width:311px; height:500px;" /></a><br />November 11, 2017<br /><a href="https://www.amazon.com/Tales-Zombie-Road-Long-Anthology/dp/1979713766/ref=la_B01MUI11C9_1_4?s=books&ie=UTF8&qid=1518021442&sr=1-4"><img src="~/Images/Amazon.png" /></a>
</div>
    </div>
</div>

<style>
    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size: 100% 100%;
    }

</style>