@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<h3 style="text-align:center;"> Unoffical Website of Amazon #1 Best Selling Author</h3>
<h1 style="text-align:center;">David A. Simpson</h1>
<div class="row">
    <div class="column2">
        <a href="~/ZombieRoadIII.cshtml"><img src="~/Images/Zombie Road III.jpg" /></a>
    </div>
    <div class="column2" style="margin-top:10%;">
        <p style="font-family:Aleo-Bold"> Read the latest release in the Zombie Road series!</p>
        <p style="font-family:Aleo-BoldItalic; ">ZOMBIE ROAD III: Rage on the Rails</p>

        <p style="font-family:Aleo-Light;">Available on Amazon Now!</p>

        <a href="https://www.amazon.com/gp/product/B0789K74PC/ref=series_rw_dp_sw"><img src="~/Images/Amazon.png" /></a>
    </div>
 
</div>
<h3 style="font-family:Aleo-LightItalic; color:white; text-align:center">Simpson has been a burger flipper, a log cabin builder, a soldier, a repo man, did a short stint as a bounty hunter and was a starving artist. He got tired of being hungry so started driving a truck.<br /><br />It suits his wanderlust and he's pretty good at it. He hasn't actually encountered any real zombies but he thinks he'd be pretty good at killing them, too.</h3>
<style>
    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size: 100% 100%;
    }

</style>