@{
    Page.Title = "Bookshelf | Tales From The Zombie Road";
    Layout = "_SiteLayout.cshtml";
}

<div>
    @*<div class="bookTitle"><p>Zombie Road III: Rage On the Rails</p></div>*@
    <div class="row">
        <div class="column2">
            <img src="~/Images/Tales from the zombie road.jpg" />
        </div>
        <div class="column2" style="margin-top:10%;">
            <p style="font-family:Aleo-Bold"> Read The Long Haul Anthology!</p>
            <p style="font-family:Aleo-BoldItalic; ">Tales From The Zombie Road</p>

            <p style="font-family:Aleo-Light;">Available on Amazon Now!</p>

            <a href="https://www.amazon.com/Tales-Zombie-Road-Long-Anthology/dp/1979713766/ref=la_B01MUI11C9_1_4?s=books&ie=UTF8&qid=1518021442&sr=1-4"><img src="~/Images/Amazon.png" /></a>
        </div>
  
    </div>
    <p style="font-family:Aleo-Regular; color:white; font-size:16px; text-align:center;">
        A collection of stories and art by fans and best selling authors, all set in the Zombie Road world.
    </p>
</div>

<style>

    .bookTitle {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        background-color: crimson;
        height: 80px;
    }

    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size: 100% 100%;
    }
</style>
