@{
    Page.Title = "Bookshelf | Treasured Chests";
    Layout = "_SiteLayout.cshtml";
}

<div>
    @*<div class="bookTitle"><p>Zombie Road III: Rage On the Rails</p></div>*@
    <div class="row" >
        <div class="column2">
            <img src="~/Images/Treasured Chests.jpg" />
        </div>
        <div class="column2" style="margin-top:10%;">
            <p style="font-family:Aleo-Bold"> A Zombie Anthology</p>
            <p style="font-family:Aleo-BoldItalic; ">Treasured Chests</p>

            <p style="font-family:Aleo-Light;">Available on Amazon Now!</p>

            <a href="https://www.amazon.com/Treasured-Chests-Anthology-Marc-Moore/dp/1976455502/ref=la_B01MUI11C9_1_6?s=books&ie=UTF8&qid=1518021442&sr=1-6"><img src="~/Images/Amazon.png" /></a>
        </div>
   
    </div>
    <p style="font-family:Aleo-Regular; color:white; font-size:16px; text-align:center;">
        Treasured Chests - A Zombie Anthology. <br /><br />
        A charity anthology of short Zombie Stories created in aid of the charity Breast Cancer Care (registered Charity in England & Wales 1017658). All royalties (100%) are to be donated to Breast Cancer Care.<br /><br />
        Treasured Chests is a unique, intelligent and terrifying collection of short Zombie Stories. An eclectic collection of short stories brought to you by the Zombie podcast Good Morning Zompoc, featuring the finest authors in the Zombie and Horror Genres.<br /><br />
        *Warning Explicit Content* Content :<br /><br />
        1.Foreword – By Diane Coughlin 2.Invasion A – By Peter Mckeirnon 3.Run from the Dead – By Marc Moore 4.Adam’s Birthday – By Claire C Riley 5.Not the Main Character – By Devon C Ford 6.A Flash of Light in the Darkness – by Marilyn Peake 7.Scarecrows – By David A. Simpson 8.To Walk the Halls – By Rebecca Besser 9.Last Light – By Christopher Artinian 10.Judgement Day – By Ricky Fleet 11. Wolfe in Dead Clothing – By R.L. Chambers 12.Beginning of the End (Garage Survival) – By T.D. Ricketts 13.Bobbies Boobies – By Grivante 14.Insomnolence – By Valerie Lioudis 15.Concrete Jungle – By M.R. Wallace 16.The Karakyuza – By Kevin J Kennedy 17.Slayer – By Andrew Lennon 18.Zombie Granny – By Steve Higgs 19.Betrayal – By Jaime Johnesee 20.Flesh – By Stuart Keane 21.House of Dead Repute – By Matt Hickman 22.Excuses – Cartoon by Stan Yan.<br /> <br />
        All royalties are to be donated to the charity Breast Cancer Care registered Charity in England & Wales 1017658.
    </p>
</div>

<style>

    .bookTitle {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        background-color: crimson;
        height: 80px;
    }

    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size: 100% 100%;
    }
</style>
