@{
    Page.Title = "Bookshelf | Zombie Road III: Rage On the Rails";
    Layout = "_SiteLayout.cshtml";
}

<div>
   
    <div class="row" >
        <div class="column2">
            <img src="~/Images/Zombie Road III.jpg" />
        </div>
        <div class="column2" style="margin-top:10%;">
            <p style="font-family:Aleo-Bold"> Read the latest release in the Zombie Road series!</p>
            <p style="font-family:Aleo-BoldItalic; ">ZOMBIE ROAD III: Rage on the Rails</p>

            <p style="font-family:Aleo-Light;">Available on Amazon Now!</p>

            <a href="https://www.amazon.com/gp/product/B0789K74PC/ref=series_rw_dp_sw"><img src="~/Images/Amazon.png" /></a>
        </div>
 
    </div>
    <p style="font-family:Aleo-Regular; color:white; font-size:16px; text-align:center;">
        Book 3 of 3<br /><br />
        The finale of the Zombie Road tale.<br /><br /> It's been a month since the outbreak and the survivors of the zombie
        apocalypse have started a new life in a walled city.<br /><br /> There are still a few enemies that need to be dealt
        with,<br /><br /> the kind that can think and plan, and they can be more devastating than a horde of the undead.
    </p>
</div>

<style>
  
    .bookTitle{
        text-align:center;
        vertical-align:middle;
        width:100%;
        background-color:crimson;
        height:80px;
    }
    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size:100% 100%;
        
    }

</style>
