@{
    Page.Title = "Bookshelf | Zombie Road II: Blood on the Blacktop";
    Layout = "_SiteLayout.cshtml";
}

<div>
    @*<div class="bookTitle"><p>Zombie Road III: Rage On the Rails</p></div>*@
    <div class="row" >
        <div class="column2">
            <img src="~/Images/Zombie Road II.jpg" style="width:311px; height:500px;"/>
        </div>
        <div class="column2" style="margin-top:10%;">
            <p style="font-family:Aleo-Bold"> Read book 2 of 3 in the Zombie Road series!</p>
            <p style="font-family:Aleo-BoldItalic; ">ZOMBIE ROAD II: BloodBath on the Blacktop</p>

            <p style="font-family:Aleo-Light;">Available on Amazon Now!</p>

            <a href="https://www.amazon.com/gp/product/B071JL7Y22/ref=series_rw_dp_sw"><img src="~/Images/Amazon.png" /></a>
        </div>

        </div>
    </div>
    <p style="font-family:Aleo-Regular; color:white; font-size:16px; text-align:center;">
        Book 2 of 3<br /><br />
        The people that tried to kill the world almost succeeded.<br /><br />
        They were fiendishly clever but they didn’t take into account the vets, the truckers and the two-fisted fighters who didn’t know how to give up.<br /><br />
        Gunny and his band of survivors continue their journey along the Zombie Road, saving as many as they can along the way.<br /><br /> They power through the undead hordes with their modified semi-trucks to beat the ticking clock of nuclear meltdowns.<br /><br />
        Lacy fights her way out of the high-rise office building and the kids who had managed to escape the high school and make it home face a new enemy. Boredom.<br /><br />
        New evil raises its ugly head and new heroes are born as they all battle to make it to a place of safety.<br /><br />
        Get ready for a Bloodbath on the Blacktop.<br /><br />
    </p>
</div>

<style>

    .bookTitle {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        background-color: crimson;
        height: 80px;
    }

    #body {
        background-image: url('Images/road-fog-foggy-mist.jpg');
        background-size: 100% 100%;
    }
</style>
